openapi: 3.0.0
info:
  title: Box Platform API
  description: >-
    [Box Platform](https://box.dev) provides functionality to provide access to
    content stored within [Box](https://box.com). It provides endpoints for
    basic manipulation of files and folders, management of users within an
    enterprise, as well as more complex topics such as legal holds and retention
    policies.
  termsOfService: https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9
  contact:
    name: Box, Inc
    url: https://box.dev
    email: devrel@box.com
  license:
    name: Apache-2.0
    url: http://www.apache.org/licenses/LICENSE-2.0
  version: 2.0.0
servers:
  - url: http://idl.us.es/idlgateway/2.0
    description: Box Platform API server
paths:
  /folders/{folder_id}/items:
    get:
      operationId: get_folders_id_items
      summary: List items in folder
      tags:
        - Folders
      x-box-tag: folders
      x-box-sanitized: true
      x-box-enable-explorer: true
      description: |-
        Retrieves a page of items in a folder. These items can be files,
        folders, and web links.

        To request more information about the folder itself, like its size,
        please use the [Get a folder](#get-folders-id) endpoint instead.
      parameters:
        - name: folder_id
          description: |-
            The unique identifier that represent a folder.

            The ID for any folder can be determined
            by visiting this folder in the web application
            and copying the ID from the URL. For example,
            for the URL `https://*.app.box.com/folder/123`
            the `folder_id` is `123`.

            The root folder of a Box account is
            always represented by the ID `0`.
          example: '12345'
          in: path
          required: true
          schema:
            type: string
            nullable: false
        - name: fields
          description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.

            Be aware that specifying this parameter will have the
            effect that none of the standard fields are returned in
            the response unless explicitly specified, instead only
            fields for the mini representation are returned, additional
            to the fields requested.

            Additionally this field can be used to query any metadata
            applied to the file by specifying the `metadata` field as well
            as the scope and key of the template to retrieve, for example
            `?field=metadata.enterprise_12345.contractTemplate`.
          in: query
          example:
            - id
            - type
            - name
          required: false
          explode: false
          schema:
            type: array
            items:
              type: string
        - name: usemarker
          description: |-
            Specifies whether to use marker-based pagination instead of
            offset-based pagination. Only one pagination method can
            be used at a time.

            By setting this value to true, the API will return a `marker` field
            that can be passed as a parameter to this endpoint to get the next
            page of the response.
          in: query
          required: false
          example: true
          schema:
            type: boolean
        - name: marker
          description: >-
            Defines the position marker at which to begin returning results.
            This is

            used when paginating using marker-based pagination.


            This requires `usemarker` to be set to `true`.
          in: query
          required: false
          example: JV9IRGZmieiBasejOG9yDCRNgd2ymoZIbjsxbJMjIs3kioVii
          schema:
            type: string
        - name: offset
          description: |-
            The offset of the item at which to begin the response.

            Queries with offset parameter value
            exceeding 10000 will be rejected
            with a 400 response.
          in: query
          required: false
          example: 1000
          schema:
            type: integer
            format: int64
            default: 0
        - name: limit
          description: The maximum number of items to return per page.
          in: query
          required: false
          example: 1000
          schema:
            type: integer
            format: int64
            maximum: 1000
        - name: boxapi
          description: >-
            The URL, and optional password, for the shared link of this item.


            This header can be used to access items that have not been

            explicitly shared with a user.


            Use the format `shared_link=[link]` or if a password is required
            then

            use `shared_link=[link]&shared_link_password=[password]`.


            This header can be used on the file or folder shared, as well as on
            any files

            or folders nested within the item.
          example: shared_link=[link]&shared_link_password=[password]
          in: header
          required: false
          schema:
            type: string
        - name: sort
          description: |-
            Defines the **second** attribute by which items
            are sorted.

            Items are always sorted by their `type` first, with
            folders listed before files, and files listed
            before web links.

            This parameter is not supported for marker-based pagination
            on the root folder (the folder with an ID of `0`).
          in: query
          required: false
          example: id
          schema:
            type: string
            enum:
              - id
              - name
              - date
              - size
        - name: direction
          description: >-
            The direction to sort results in. This can be either in alphabetical
            ascending

            (`ASC`) or descending (`DESC`) order.
          in: query
          required: false
          example: ASC
          schema:
            type: string
            enum:
              - ASC
              - DESC
      x-dependencies:
        - IF marker THEN usemarker==true;
        - IF marker OR usemarker==true THEN NOT sort;
        - IF offset THEN offset <= 10000;
        - ZeroOrOne(usemarker==true, offset);
      responses:
        '200':
          description: >-
            Returns a collection of files, folders, and web links contained in a
            folder.
        '400':
            description: >-
              An unexpected client error.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ClientError'
        '403':
          description: >-
            Returned when the access token provided in the `Authorization`
            header

            is not recognized or not provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '404':
          description: |-
            Returned if the folder is not found, or the user does not
            have access to the folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        '405':
          description: Returned if the `folder_id` is not in a recognized format.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
        default:
          description: An unexpected client error.
components:
  securitySchemes:
    OAuth2Security:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://account.box.com/api/oauth2/authorize
          tokenUrl: https://api.box.com/oauth2/token
          scopes:
            root_readonly: Read all files and folders stored in Box
            root_readwrite: Read and write all files and folders stored in Box
            manage_app_users: Provision and manage app users
            manage_managed_users: Provision and manage managed users
            manage_groups: Manage an enterprise's groups
            manage_webhook: Create webhooks programmatically through the API
            manage_enterprise_properties: Manage enterprise properties
            manage_data_retention: Manage data retention polices
            manage_legal_hold: Manage Legal Holds
  schemas:
    PostOAuth2Token:
      title: Token request
      type: object
      description: A request for a new OAuth 2.0 token
      required:
        - grant_type
      properties:
        grant_type:
          type: string
          format: urn
          example: authorization_code
          description: >-
            The type of request being made, either using a client-side obtained

            authorization code, a refresh token, a JWT assertion, client
            credentials

            grant or another access token for the purpose of downscoping a
            token.
          enum:
            - authorization_code
            - refresh_token
            - client_credentials
            - urn:ietf:params:oauth:grant-type:jwt-bearer
            - urn:ietf:params:oauth:grant-type:token-exchange
        client_id:
          type: string
          description: >-
            The Client ID of the application requesting an access token.


            Used in combination with `authorization_code`, `client_credentials`,
            or

            `urn:ietf:params:oauth:grant-type:jwt-bearer` as the `grant_type`.
          example: ly1nj6n11vionaie65emwzk575hnnmrk
        client_secret:
          type: string
          description: >-
            The client secret of the application requesting an access token.


            Used in combination with `authorization_code`, `client_credentials`,
            or

            `urn:ietf:params:oauth:grant-type:jwt-bearer` as the `grant_type`.
          example: hOzsTeFlT6ko0dme22uGbQal04SBPYc1
        code:
          type: string
          format: token
          description: |-
            The client-side authorization code passed to your application by
            Box in the browser redirect after the user has successfully
            granted your application permission to make API calls on their
            behalf.

            Used in combination with `authorization_code` as the `grant_type`.
          example: n22JPxrh18m4Y0wIZPIqYZK7VRrsMTWW
        refresh_token:
          type: string
          format: token
          description: |-
            A refresh token used to get a new access token with.

            Used in combination with `refresh_token` as the `grant_type`.
          example: c3FIOG9vSGV4VHo4QzAyg5T1JvNnJoZ3ExaVNyQWw6WjRsanRKZG5lQk9qUE1BVQ
        assertion:
          type: string
          format: jwt
          description: >-
            A JWT assertion for which to request a new access token.


            Used in combination with
            `urn:ietf:params:oauth:grant-type:jwt-bearer`

            as the `grant_type`.
          example: xxxxx.yyyyy.zzzzz
        subject_token:
          type: string
          format: token
          description: >-
            The token to exchange for a downscoped token. This can be a regular

            access token, a JWT assertion, or an app token.


            Used in combination with
            `urn:ietf:params:oauth:grant-type:token-exchange`

            as the `grant_type`.
          example: c3FIOG9vSGV4VHo4QzAyg5T1JvNnJoZ3ExaVNyQWw6WjRsanRKZG5lQk9qUE1BVQ
        subject_token_type:
          type: string
          example: urn:ietf:params:oauth:token-type:access_token
          description: >-
            The type of `subject_token` passed in.


            Used in combination with
            `urn:ietf:params:oauth:grant-type:token-exchange`

            as the `grant_type`.
          enum:
            - urn:ietf:params:oauth:token-type:access_token
        actor_token:
          type: string
          format: token
          description: >-
            The token used to create an annotator token.

            This is a JWT assertion.


            Used in combination with
            `urn:ietf:params:oauth:grant-type:token-exchange`

            as the `grant_type`.
          example: c3FIOG9vSGV4VHo4QzAyg5T1JvNnJoZ3ExaVNyQWw6WjRsanRKZG5lQk9qUE1BVQ
        actor_token_type:
          type: string
          format: urn
          example: urn:ietf:params:oauth:token-type:id_token
          description: >-
            The type of `actor_token` passed in.


            Used in combination with
            `urn:ietf:params:oauth:grant-type:token-exchange`

            as the `grant_type`.
          enum:
            - urn:ietf:params:oauth:token-type:id_token
        scope:
          type: string
          format: space_delimited_list
          description: |-
            The space-delimited list of scopes that you want apply to the
            new access token.

            The `subject_token` will need to have all of these scopes or
            the call will error with **401 Unauthorized**.
          example: item_upload item_preview base_explorer
        resource:
          type: string
          format: url
          description: Full URL for the file that the token should be generated for.
          example: https://api.box.com/2.0/files/123456
        box_subject_type:
          type: string
          example: enterprise
          description: Used in combination with `client_credentials` as the `grant_type`.
          enum:
            - enterprise
            - user
        box_subject_id:
          type: string
          example: '123456789'
          description: >-
            Used in combination with `client_credentials` as the `grant_type`.

            Value is determined by `box_subject_type`. If `user` use user ID and
            if

            `enterprise` use enterprise ID.
        box_shared_link:
          type: string
          format: url
          description: |-
            Full URL of the shared link on the file or folder
            that the token should be generated for.
          example: https://cloud.box.com/s/123456
    PostOAuth2Token--RefreshAccessToken:
      title: Refresh access token
      type: object
      description: |-
        A request to refresh an Access Token. Use this API to refresh an expired
        Access Token using a valid Refresh Token.
      required:
        - grant_type
        - client_id
        - client_secret
        - refresh_token
      properties:
        grant_type:
          type: string
          format: urn
          example: refresh_token
          description: The type of request being made, in this case a refresh request.
          enum:
            - refresh_token
        client_id:
          type: string
          description: The client ID of the application requesting to refresh the token.
          example: ly1nj6n11vionaie65emwzk575hnnmrk
        client_secret:
          type: string
          description: >-
            The client secret of the application requesting to refresh the
            token.
          example: hOzsTeFlT6ko0dme22uGbQal04SBPYc1
        refresh_token:
          type: string
          format: token
          description: The refresh token to refresh.
          example: c3FIOG9vSGV4VHo4QzAyg5T1JvNnJoZ3ExaVNyQWw6WjRsanRKZG5lQk9qUE1BVQ
    PostOAuth2Revoke:
      title: Token revocation request
      type: object
      description: A request to revoke an OAuth 2.0 token
      required:
        - grant_type
      properties:
        client_id:
          type: string
          description: |-
            The Client ID of the application requesting to revoke the
            access token.
          example: ly1nj6n11vionaie65emwzk575hnnmrk
        client_secret:
          type: string
          description: |-
            The client secret of the application requesting to revoke
            an access token.
          example: hOzsTeFlT6ko0dme22uGbQal04SBPYc1
        token:
          type: string
          format: token
          description: The access token to revoke.
          example: n22JPxrh18m4Y0wIZPIqYZK7VRrsMTWW
    ZipDownloadRequest:
      title: Create a `zip` archive
      type: object
      description: A request to create a `zip` archive to download
      required:
        - items
      properties:
        items:
          type: array
          description: |-
            A list of items to add to the `zip` archive. These can
            be folders or files.
          items:
            type: object
            description: >-
              An item to add to the `zip` archive. This can be a file or a
              folder.
            required:
              - type
              - id
            properties:
              type:
                type: string
                description: The type of the item to add to the archive.
                example: file
                enum:
                  - file
                  - folder.
              id:
                type: string
                description: >-
                  The identifier of the item to add to the archive. When this
                  item is

                  a folder then this can not be the root folder with ID `0`.
                example: '12345'
        download_file_name:
          type: string
          description: >-
            The optional name of the `zip` archive. This name will be appended
            by the

            `.zip` file extension, for example `January Financials.zip`.
          example: January Financials
    MetadataQuery:
      title: Metadata query search request
      type: object
      description: >-
        Create a search using SQL-like syntax to return items that match
        specific

        metadata.
      required:
        - from
        - ancestor_folder_id
      properties:
        from:
          type: string
          description: |-
            Specifies the template used in the query. Must be in the form
            `scope.templateKey`. Not all templates can be used in this field,
            most notably the built-in, Box-provided classification templates
            can not be used in a query.
          example: enterprise_123456.someTemplate
        query:
          type: string
          description: >-
            The query to perform. A query is a logical expression that is very
            similar

            to a SQL `SELECT` statement. Values in the search query can be
            turned into

            parameters specified in the `query_param` arguments list to prevent
            having

            to manually insert search values into the query string.


            For example, a value of `:amount` would represent the `amount` value
            in

            `query_params` object.
          example: value >= :amount
        query_params:
          type: object
          description: >-
            Set of arguments corresponding to the parameters specified in the

            `query`. The type of each parameter used in the `query_params` must
            match

            the type of the corresponding metadata template field.
          example:
            amount: '100'
          additionalProperties:
            type: string
            description: >-
              The value for the argument being used in the metadata search.


              The type of this parameter must match the type of the
              corresponding

              metadata template field.
            example: '100'
            x-box-example-key: amount
        ancestor_folder_id:
          type: string
          description: |-
            The ID of the folder that you are restricting the query to. A
            value of zero will return results from all folders you have access
            to. A non-zero value will only return results found in the folder
            corresponding to the ID or in any of its subfolders.
          example: '0'
        order_by:
          type: array
          description: >-
            A list of template fields and directions to sort the metadata query

            results by.


            The ordering `direction` must be the same for each item in the
            array.
          items:
            type: object
            description: >-
              An object representing one of the metadata template fields to sort
              the

              metadata query results by.
            properties:
              field_key:
                type: string
                description: |-
                  The metadata template field to order by.

                  The `field_key` represents the `key` value of a field from the
                  metadata template being searched for.
                example: amount
              direction:
                type: string
                description: |-
                  The direction to order by, either ascending or descending.

                  The `ordering` direction must be the same for each item in the
                  array.
                example: asc
                enum:
                  - ASC
                  - DESC
                  - asc
                  - desc
        limit:
          type: integer
          description: >-
            A value between 0 and 100 that indicates the maximum number of
            results

            to return for a single request. This only specifies a maximum

            boundary and will not guarantee the minimum number of results

            returned.
          default: 100
          minimum: 0
          maximum: 100
          example: 50
        marker:
          type: string
          description: Marker to use for requesting the next page.
          example: >-
            AAAAAmVYB1FWec8GH6yWu2nwmanfMh07IyYInaa7DZDYjgO1H4KoLW29vPlLY173OKsci6h6xGh61gG73gnaxoS+o0BbI1/h6le6cikjlupVhASwJ2Cj0tOD9wlnrUMHHw3/ISf+uuACzrOMhN6d5fYrbidPzS6MdhJOejuYlvsg4tcBYzjauP3+VU51p77HFAIuObnJT0ff
        fields:
          type: array
          items:
            type: string
          description: >-
            By default, this endpoint returns only the most basic info about the
            items for

            which the query matches. This attribute can be used to specify a
            list of

            additional attributes to return for any item, including its
            metadata.


            This attribute takes a list of item fields, metadata template
            identifiers,

            or metadata template field identifiers.


            For example:


            * `created_by` will add the details of the user who created the item
            to

            the response.

            * `metadata.<scope>.<templateKey>` will return the
            mini-representation

            of the metadata instance identified by the `scope` and
            `templateKey`.

            * `metadata.<scope>.<templateKey>.<field>` will return all the
            mini-representation

            of the metadata instance identified by the `scope` and `templateKey`
            plus

            the field specified by the `field` name. Multiple fields for the
            same

            `scope` and `templateKey` can be defined.
          example:
            - extension
            - created_at
            - item_status
            - metadata.enterprise_1234.contracts
            - metadata.enterprise_1234.regions.location
    FileRequestUpdateRequest:
      title: File Request (Update)
      type: object
      description: The request body to update a file request.
      properties:
        title:
          type: string
          description: |-
            An optional new title for the file request. This can be
            used to change the title of the file request.

            This will default to the value on the existing file request.
          example: Please upload required documents
        description:
          type: string
          description: |-
            An optional new description for the file request. This can be
            used to change the description of the file request.

            This will default to the value on the existing file request.
          example: Please upload required documents
        status:
          type: string
          description: |-
            An optional new status of the file request.

            When the status is set to `inactive`, the file request
            will no longer accept new submissions, and any visitor
            to the file request URL will receive a `HTTP 404` status
            code.

            This will default to the value on the existing file request.
          example: active
          enum:
            - active
            - inactive
        is_email_required:
          type: boolean
          example: true
          description: |-
            Whether a file request submitter is required to provide
            their email address.

            When this setting is set to true, the Box UI will show
            an email field on the file request form.

            This will default to the value on the existing file request.
        is_description_required:
          type: boolean
          example: true
          description: |-
            Whether a file request submitter is required to provide
            a description of the files they are submitting.

            When this setting is set to true, the Box UI will show
            a description field on the file request form.

            This will default to the value on the existing file request.
        expires_at:
          type: string
          format: date-time
          description: |-
            The date after which a file request will no longer accept new
            submissions.

            After this date, the `status` will automatically be set to
            `inactive`.

            This will default to the value on the existing file request.
          example: '2020-09-28T10:53:43-08:00'
    FileRequestCopyRequest:
      title: File Request (Copy)
      type: object
      description: The request body to copy a file request.
      required:
        - folder
      allOf:
        - $ref: '#/components/schemas/FileRequestUpdateRequest'
        - properties:
            folder:
              type: object
              description: The folder to associate the new file request to.
              required:
                - id
              properties:
                type:
                  type: string
                  example: folder
                  description: '`folder`'
                  enum:
                    - folder
                id:
                  type: string
                  example: '42037322'
                  description: |-
                    The ID of the folder to associate the new
                    file request to.
    SignRequestCreateRequest:
      title: Create a sign request
      type: object
      description: A request to create a sign request object
      required:
        - signers
      allOf:
        - $ref: '#/components/schemas/SignRequest--Base'
        - properties:
            source_files:
              type: array
              items:
                $ref: '#/components/schemas/File--Mini'
              description: >-
                List of files to create a signing document from. This is
                currently

                limited to 10 files. Only the ID and type fields are required

                for each file. The array will be empty if the `source_files`

                are deleted.
              minimum: 1
              maximum: 10
            signature_color:
              type: string
              example: blue
              description: Force a specific signature color (blue, black, or red).
              enum:
                - blue
                - black
                - red
              nullable: true
            signers:
              type: array
              items:
                $ref: '#/components/schemas/SignRequestCreateSigner'
              description: |-
                Array of signers for the sign request. 35 is the
                max number of signers permitted.
    ClientError:
      title: Client error
      type: object
      x-box-resource-id: client_error
      description: A generic error
      properties:
        type:
          description: '`error`'
          example: error
          type: string
          enum:
            - error
          nullable: false
        status:
          description: The HTTP status of the response.
          example: 400
          type: integer
          format: int32
          nullable: false
        code:
          description: A Box-specific error code
          example: item_name_invalid
          type: string
          enum:
            - created
            - accepted
            - no_content
            - redirect
            - not_modified
            - bad_request
            - unauthorized
            - forbidden
            - not_found
            - method_not_allowed
            - conflict
            - precondition_failed
            - too_many_requests
            - internal_server_error
            - unavailable
            - item_name_invalid
            - insufficient_scope
        message:
          description: A short message describing the error.
          example: Method Not Allowed
          type: string
          nullable: false
        context_info:
          description: |-
            A free-form object that contains additional context
            about the error. The possible fields are defined on
            a per-endpoint basis. `message` is only one example.
          type: object
          properties:
            message:
              type: string
              description: More details on the error.
              example: Something went wrong.
        help_url:
          description: A URL that links to more information about why this error occurred.
          example: >-
            https://developer.box.com/guides/api-calls/permissions-and-errors/common-errors/
          type: string
          nullable: false
        request_id:
          description: |-
            A unique identifier for this response, which can be used
            when contacting Box support.
          type: string
          example: abcdef123456
          nullable: false
    ConflictError:
      title: Conflict error
      type: object
      x-box-resource-id: conflict_error
      x-box-tag: uploads
      description: |-
        The error that occurs when a file can not be created due
        to a conflict.
      allOf:
        - $ref: '#/components/schemas/ClientError'
        - properties:
            context_info:
              type: object
              properties:
                conflicts:
                  type: array
                  description: A list of the file conflicts that caused this error.
                  items:
                    $ref: '#/components/schemas/FileConflict'
    OAuth2Error:
      title: OAuth 2.0 error
      type: object
      x-box-resource-id: oauth2_error
      x-box-tag: authorization
      description: An OAuth 2.0 error
      properties:
        error:
          type: string
          example: invalid_client
          description: The type of the error returned.
        error_description:
          type: string
          example: The client credentials are not valid
          description: The type of the error returned.
    SkillInvocation:
      title: Skill webhook payload
      type: object
      x-box-resource-id: skill_invocation
      x-box-tag: skills
      description: |-
        The payload of a Box skill as sent to a skill's
        `invocation_url`.
      properties:
        type:
          type: string
          description: '`skill_invocation`'
          example: skill_invocation
          enum:
            - skill_invocation
        id:
          type: string
          description: Unique identifier for the invocation request.
          example: fd1d2e53-35f5-41fb-9c25-4ba326daf2f9_341016304
        skill:
          allOf:
            - title: Skill
              type: object
              description: An object representing a skill
              properties:
                id:
                  type: string
                  description: The unique identifier for this skill
                  example: '11446498'
                type:
                  type: string
                  description: '`skill`'
                  example: skill
                  enum:
                    - skill
                name:
                  type: string
                  description: The name of the skill
                  example: Hello World Skill
                api_key:
                  type: string
                  description: The client ID of the application
                  example: hxel2s12wd2h9r8ne103c4gjbqefofih
            - description: The skill that triggered this invocation
        token:
          type: object
          description: The read-only and read-write access tokens for this item
          properties:
            read:
              type: object
              description: The basics of an access token
              properties:
                access_token:
                  type: string
                  format: token
                  example: >-
                    c3FIOG9vSGV4VHo4QzAyg5T1JvNnJoZ3ExaVNyQWw6WjRsanRKZG5lQk9qUE1BVQ
                  description: The requested access token.
                expires_in:
                  type: integer
                  format: int64
                  example: 3600
                  description: >-
                    The time in seconds in seconds by which this token will
                    expire.
                token_type:
                  type: string
                  enum:
                    - bearer
                  example: bearer
                  description: The type of access token returned.
                restricted_to:
                  type: string
                  description: |-
                    The permissions that this access token permits,
                    providing a list of resources (files, folders, etc)
                    and the scopes permitted for each of those resources.
                  example: >-
                    [{"scope":"gcm"},
                    {"scope":"item_upload","object_id":933941692081,"object_type":"file"},
                    {"scope":"manage_skill_invocations"}]
            write:
              type: object
              description: The basics of an access token
              properties:
                access_token:
                  type: string
                  format: token
                  example: >-
                    c3FIOG9vSGV4VHo4QzAyg5T1JvNnJoZ3ExaVNyQWw6WjRsanRKZG5lQk9qUE1BVQ
                  description: The requested access token.
                expires_in:
                  type: integer
                  format: int64
                  example: 3600
                  description: >-
                    The time in seconds in seconds by which this token will
                    expire.
                token_type:
                  type: string
                  enum:
                    - bearer
                  example: bearer
                  description: The type of access token returned.
                restricted_to:
                  type: string
                  description: |-
                    The permissions that this access token permits,
                    providing a list of resources (files, folders, etc)
                    and the scopes permitted for each of those resources.
                  example: >-
                    [{"scope":"gcm"},
                    {"scope":"item_upload","object_id":933941692081,"object_type":"file"},
                    {"scope":"manage_skill_invocations"}]
        status:
          type: object
          description: The details status of this event.
          properties:
            state:
              type: string
              example: invoked
              description: |-
                The state of this event.

                * `invoked` - Triggered the skill with event details to start
                  applying skill on the file.
                * `processing` - Currently processing.
                * `success` - Completed processing with a success.
                * `transient_failure` - Encountered an issue which can be
                  retried.
                * `permanent_failure` -  Encountered a permanent issue and
                  retry would not help.
              enum:
                - invoked
                - processing
                - success
                - transient_failure
                - permanent_failure
            message:
              type: string
              example: Example
              description: Status information
            error_code:
              type: string
              example: '400'
              description: Error code information, if error occurred.
            additional_info:
              type: string
              example: Example
              description: Additional status information.
        created_at:
          type: string
          format: date-time
          description: The time this invocation was created.
          example: '2012-12-12T10:53:43-08:00'
        trigger:
          type: string
          example: FILE_CONTENT
          description: Action that triggered the invocation
        enterprise:
          allOf:
            - title: Enterprise
              type: object
              description: A representation of a Box enterprise
              properties:
                id:
                  type: string
                  description: The unique identifier for this enterprise.
                  example: '11446498'
                type:
                  type: string
                  description: '`enterprise`'
                  example: enterprise
                  enum:
                    - enterprise
                name:
                  description: The name of the enterprise
                  example: Acme Inc.
                  type: string
            - description: The enterprise that this invocation was triggered for
        source:
          allOf:
            - oneOf:
                - $ref: '#/components/schemas/File'
                - $ref: '#/components/schemas/Folder'
            - description: The item that caused the invocation to trigger
        event:
          allOf:
            - $ref: '#/components/schemas/Event'
            - description: The event that triggered this invocation
    WebhookInvocation:
      title: Webhook (V2) payload
      type: object
      x-box-resource-id: webhook_invocation
      x-box-tag: webhooks
      description: The event that is sent to a webhook address when an event happens.
      properties:
        id:
          type: string
          description: The unique identifier for this webhook invocation
          example: '11446498'
        type:
          type: string
          description: '`webhook_event`'
          example: webhook_event
          enum:
            - webhook_event
        webhook:
          allOf:
            - $ref: '#/components/schemas/Webhook'
            - description: The webhook object that triggered this event
        created_by:
          allOf:
            - $ref: '#/components/schemas/User--Mini'
            - description: The user that triggered this event
        created_at:
          type: string
          format: date-time
          description: |-
            A timestamp identifying the time that
            the webhook event was triggered.
          example: '2012-12-12T10:53:43-08:00'
        trigger:
          allOf:
            - title: Webhook Trigger
              example: FILE.UPLOADED
              type: string
              description: The event name that triggered this webhook
              enum:
                - FILE.UPLOADED
                - FILE.PREVIEWED
                - FILE.DOWNLOADED
                - FILE.TRASHED
                - FILE.DELETED
                - FILE.RESTORED
                - FILE.COPIED
                - FILE.MOVED
                - FILE.LOCKED
                - FILE.UNLOCKED
                - FILE.RENAMED
                - COMMENT.CREATED
                - COMMENT.UPDATED
                - COMMENT.DELETED
                - TASK_ASSIGNMENT.CREATED
                - TASK_ASSIGNMENT.UPDATED
                - METADATA_INSTANCE.CREATED
                - METADATA_INSTANCE.UPDATED
                - METADATA_INSTANCE.DELETED
                - FOLDER.CREATED
                - FOLDER.RENAMED
                - FOLDER.DOWNLOADED
                - FOLDER.RESTORED
                - FOLDER.DELETED
                - FOLDER.COPIED
                - FOLDER.MOVED
                - FOLDER.TRASHED
                - WEBHOOK.DELETED
                - COLLABORATION.CREATED
                - COLLABORATION.ACCEPTED
                - COLLABORATION.REJECTED
                - COLLABORATION.REMOVED
                - COLLABORATION.UPDATED
                - SHARED_LINK.DELETED
                - SHARED_LINK.CREATED
                - SHARED_LINK.UPDATED
                - SIGN_REQUEST.COMPLETED
                - SIGN_REQUEST.DECLINED
                - SIGN_REQUEST.EXPIRED
            - description: The event name that triggered this webhook
        source:
          allOf:
            - oneOf:
                - $ref: '#/components/schemas/File'
                - $ref: '#/components/schemas/Folder'
            - description: The item that caused the event to trigger
    AccessToken:
      title: Access token
      type: object
      x-box-resource-id: access_token
      x-box-tag: authorization
      description: A token that can be used to make authenticated API calls.
      properties:
        access_token:
          type: string
          format: token
          example: c3FIOG9vSGV4VHo4QzAyg5T1JvNnJoZ3ExaVNyQWw6WjRsanRKZG5lQk9qUE1BVQ
          description: The requested access token.
        expires_in:
          type: integer
          format: int64
          example: 3600
          description: The time in seconds in seconds by which this token will expire.
        token_type:
          type: string
          enum:
            - bearer
          example: bearer
          description: The type of access token returned.
        restricted_to:
          type: array
          description: |-
            The permissions that this access token permits,
            providing a list of resources (files, folders, etc)
            and the scopes permitted for each of those resources.
          items:
            $ref: '#/components/schemas/FileScope'
        refresh_token:
          type: string
          format: token
          example: c3FIOG9vSGV4VHo4QzAyg5T1JvNnJoZ3ExaVNyQWw6WjRsanRKZG5lQk9qUE1BVQ
          description: |-
            The refresh token for this access token, which can be used
            to request a new access token when the current one expires.
        issued_token_type:
          type: string
          format: urn
          example: urn:ietf:params:oauth:token-type:access_token
          enum:
            - urn:ietf:params:oauth:token-type:access_token
          description: |-
            The type of downscoped access token returned. This is only
            returned if an access token has been downscoped.
    Classification:
      title: Classification
      type: object
      x-box-resource-id: classification
      x-box-tag: classifications
      description: |-
        An instance of the classification metadata template, containing
        the classification applied to the file or folder.

        To get more details about the classification applied to an item,
        request the classification metadata template.
      properties:
        Box__Security__Classification__Key:
          type: string
          example: Sensitive
          description: The name of the classification applied to the item.
        $parent:
          type: string
          example: folder_59449484661,
          description: |-
            The identifier of the item that this metadata instance
            has been attached to. This combines the `type` and the `id`
            of the parent in the form `{type}_{id}`.
        $template:
          type: string
          example: securityClassification-6VMVochwUWo
          description: '`securityClassification-6VMVochwUWo`'
          enum:
            - securityClassification-6VMVochwUWo
        $scope:
          type: string
          example: enterprise_27335
          description: |-
            The scope of the enterprise that this classification has been
            applied for.

            This will be in the format `enterprise_{enterprise_id}`.
        $version:
          type: integer
          example: 1
          description: |-
            The version of the metadata instance. This version starts at 0 and
            increases every time a classification is updated.
        $type:
          type: string
          example: >-
            securityClassification-6VMVochwUWo-fd31537a-0f95-4d86-9f2b-5974a29978f8
          description: |-
            The unique ID of this classification instance. This will be include
            the name of the classification template and a unique ID.
        $typeVersion:
          type: number
          example: 5
          description: >-
            The version of the metadata template. This version starts at 0 and

            increases every time the template is updated. This is mostly for
            internal

            use.
        $canEdit:
          type: boolean
          example: true
          description: Whether an end user can change the classification.
    ClassificationTemplate:
      title: Classification Template
      type: object
      x-box-resource-id: classification_template
      x-box-tag: classifications
      description: |-
        A metadata template that holds the security classifications
        defined by an enterprise.
      required:
        - type
      properties:
        id:
          type: string
          example: 58063d82-4128-7b43-bba9-92f706befcdf
          description: The ID of the classification template.
        type:
          type: string
          description: '`metadata_template`'
          example: metadata_template
          enum:
            - metadata_template
          nullable: false
        scope:
          type: string
          description: |-
            The scope of the classification template. This is in the format
            `enterprise_{id}` where the `id` is the enterprise ID.
          example: enterprise_123456
        templateKey:
          type: string
          example: securityClassification-6VMVochwUWo
          description: '`securityClassification-6VMVochwUWo`'
          enum:
            - securityClassification-6VMVochwUWo
        displayName:
          type: string
          example: Classification
          description: The name of this template as shown in web and mobile interfaces.
          enum:
            - Classification
        hidden:
          type: boolean
          example: false
          description: This template is always available in web and mobile interfaces.
        copyInstanceOnItemCopy:
          type: boolean
          example: true
          description: |-
            Classifications are always copied along when the file or folder is
            copied.
        fields:
          type: array
          maxItems: 1
          minItems: 1
          description: >-
            A list of fields for this classification template. This includes

            only one field, the `Box__Security__Classification__Key`, which
            defines

            the different classifications available in this enterprise.
          items:
            type: object
            description: |-
              The metadata template field that represents the available
              classifications.
            properties:
              id:
                type: string
                example: 822227e0-47a5-921b-88a8-494760b2e6d2
                description: The unique ID of the field.
              type:
                type: string
                example: enum
                description: '`enum`'
                enum:
                  - enum
              key:
                type: string
                example: Box__Security__Classification__Key
                description: '`Box__Security__Classification__Key`'
                enum:
                  - Box__Security__Classification__Key
              displayName:
                type: string
                example: Classification
                description: '`Classification`'
                enum:
                  - Classification
              hidden:
                type: boolean
                example: false
                description: Classifications are always visible to web and mobile users.
              options:
                type: array
                description: A list of classifications available in this enterprise.
                minItems: 1
                items:
                  type: object
                  description: A single classification available in this enterprise.
                  properties:
                    id:
                      type: string
                      example: 46aea176-3483-4431-856c-6b5b13d1cc50
                      description: The unique ID of this classification.
                    key:
                      type: string
                      example: Sensitive
                      description: The display name and key for this classification.
                    staticConfig:
                      type: object
                      description: Additional information about the classification.
                      properties:
                        classification:
                          type: object
                          description: >-
                            Additional information about the classification.


                            This is not an exclusive list of properties, and

                            more object fields might be returned. These fields

                            are used for internal Box Shield and Box Governance

                            purposes and no additional value must be derived
                            from

                            these fields.
                          properties:
                            classificationDefinition:
                              type: string
                              example: Sensitive information
                              description: A longer description of the classification.
                            colorID:
                              type: number
                              example: 4
                              description: >-
                                An internal Box identifier used to assign a
                                color to

                                a classification label.


                                Mapping between a `colorID` and a color may
                                change

                                without notice. Currently, the color mappings
                                are as

                                follows.


                                * `0`: Yellow

                                * `1`: Orange

                                * `2`: Watermelon red

                                * `3`: Purple rain

                                * `4`: Light blue

                                * `5`: Dark blue

                                * `6`: Light green

                                * `7`: Gray
    Collaboration:
      title: Collaboration
      type: object
      x-box-resource-id: collaboration
      x-box-tag: user_collaborations
      description: >-
        Collaborations define access permissions for users and groups to files
        and

        folders, similar to access control lists. A collaboration object grants
        a

        user or group access to a file or folder with permissions defined by a

        specific role.
      properties:
        id:
          type: string
          description: The unique identifier for this collaboration.
          example: '12345678'
        type:
          type: string
          description: '`collaboration`'
          example: collaboration
          enum:
            - collaboration
        item:
          allOf:
            - oneOf:
                - $ref: '#/components/schemas/File'
                - $ref: '#/components/schemas/Folder'
                - $ref: '#/components/schemas/WebLink'
            - description: |-
                The file or folder to which access is granted. The field is
                `null` when the collaboration `status` is `pending`.
          nullable: true
        accessible_by:
          allOf:
            - $ref: '#/components/schemas/User--Mini'
            - description: The user or group that is granted access
        invite_email:
          type: string
          nullable: true
          example: john@example.com
          description: |-
            The email address used to invite an unregistered collaborator, if
            they are not a registered user.
        role:
          type: string
          example: editor
          enum:
            - editor
            - viewer
            - previewer
            - uploader
            - previewer uploader
            - viewer uploader
            - co-owner
            - owner
          description: The level of access granted.
        expires_at:
          type: string
          nullable: true
          format: date-time
          example: '2012-12-26T10:53:43-08:00'
          description: |-
            When the collaboration will expire, or `null` if no expiration
            date is set.
        status:
          type: string
          example: accepted
          enum:
            - accepted
            - pending
            - rejected
          description: The status of the collaboration invitation.
        acknowledged_at:
          type: string
          format: date-time
          example: '2012-12-12T10:55:20-08:00'
          description: |-
            When the `status` of the collaboration object changed to
            `accepted` or `rejected`
        created_by:
          allOf:
            - $ref: '#/components/schemas/User--Mini'
            - description: The user who created the collaboration object
            - example:
                - id: 33224412
                - type: user
                - login: dylan@example.com
                - name: Dylan Smith
        created_at:
          type: string
          format: date-time
          example: '2012-12-12T10:53:43-08:00'
          description: When the collaboration object was created
        modified_at:
          type: string
          format: date-time
          example: '2012-12-12T10:53:43-08:00'
          description: When the collaboration object was last modified
        acceptance_requirements_status:
          type: object
          properties:
            terms_of_service_requirement:
              type: object
              properties:
                is_accepted:
                  type: boolean
                  nullable: true
                  example: true
                  description: |-
                    Whether or not the terms of service have been accepted.  The
                    field is `null` when there is no terms of service required.
                terms_of_service:
                  allOf:
                    - $ref: '#/components/schemas/TermsOfService--Base'
                    - description: |-
                        The terms of service that must be accepted before the
                        collaboration can be accepted. The field is `null` when
                        there is no terms of service required.
            strong_password_requirement:
              type: object
              properties:
                enterprise_has_strong_password_required_for_external_users:
                  type: boolean
                  example: true
                  description: |-
                    Whether or not the enterprise that owns the content requires
                    a strong password to collaborate on the content.
                user_has_strong_password:
                  type: boolean
                  nullable: true
                  example: true
                  description: |-
                    Whether or not the user has a strong password set for their
                    account. The field is `null` when a strong password is not
                    required.
            two_factor_authentication_requirement:
              type: object
              properties:
                enterprise_has_two_factor_auth_enabled:
                  type: boolean
                  example: true
                  description: |-
                    Whether or not the enterprise that owns the content requires
                    two-factor authentication to be enabled in order to
                    collaborate on the content.
                user_has_two_factor_authentication_enabled:
                  type: boolean
                  nullable: true
                  example: true
                  description: |-
                    Whether or not the user has two-factor authentication
                    enabled. The field is `null` when two-factor
                    authentication is not required.
    Collaborations:
      title: Collaborations
      type: object
      x-box-resource-id: collaborations
      x-box-tag: user_collaborations
      description: A list of collaborations
      allOf:
        - type: object
          description: The part of an API response that describes pagination
          properties:
            total_count:
              description: >-
                One greater than the offset of the last entry in the entire
                collection.

                The total number of entries in the collection may be less than

                `total_count`.


                This field is only returned for calls that use offset-based
                pagination.

                For marker-based paginated APIs, this field will be omitted.
              example: 5000
              type: integer
              format: int64
            limit:
              description: >-
                The limit that was used for these entries. This will be the same
                as the

                `limit` query parameter unless that value exceeded the maximum
                value

                allowed. The maximum value varies by API.
              example: 1000
              type: integer
              format: int64
            offset:
              description: >-
                The 0-based offset of the first entry in this set. This will be
                the same

                as the `offset` query parameter.


                This field is only returned for calls that use offset-based
                pagination.

                For marker-based paginated APIs, this field will be omitted.
              example: 2000
              type: integer
              format: int64
            order:
              description: >-
                The order by which items are returned.


                This field is only returned for calls that use offset-based
                pagination.

                For marker-based paginated APIs, this field will be omitted.
              type: array
              items:
                type: object
                description: The order in which a pagination is ordered
                properties:
                  by:
                    description: The field to order by
                    example: type
                    type: string
                  direction:
                    type: string
                    description: The direction to order by, either ascending or descending
                    example: ASC
                    enum:
                      - ASC
                      - DESC
        - properties:
            entries:
              type: array
              items:
                $ref: '#/components/schemas/Collaboration'
    CollaborationAllowlistEntry:
      title: Allowed collaboration domain
      type: object
      x-box-resource-id: collaboration_allowlist_entry
      x-box-tag: collaboration_allowlist_entries
      description: >-
        An entry that describes an approved domain for which users can
        collaborate

        with files and folders in your enterprise or vice versa.
      properties:
        id:
          type: string
          description: The unique identifier for this entry
          example: '11446498'
        type:
          type: string
          description: '`collaboration_whitelist_entry`'
          example: collaboration_whitelist_entry
          enum:
            - collaboration_whitelist_entry
        domain:
          type: string
          example: example.com
          description: The whitelisted domain
        direction:
          type: string
          example: both
          description: The direction of the collaborations to allow.
          enum:
            - inbound
            - outbound
            - both
        enterprise:
          allOf:
            - title: Enterprise
              type: object
              description: A representation of a Box enterprise
              properties:
                id:
                  type: string
                  description: The unique identifier for this enterprise.
                  example: '11446498'
                type:
                  type: string
                  description: '`enterprise`'
                  example: enterprise
                  enum:
                    - enterprise
                name:
                  description: The name of the enterprise
                  example: Acme Inc.
                  type: string
            - description: The enterprise this list is applied to
        created_at:
          type: string
          format: date-time
          description: The time the entry was created at
          example: '2012-12-12T10:53:43-08:00'
    CollaborationAllowlistEntries:
      title: Allowed collaboration domains
      type: object
      x-box-resource-id: collaboration_allowlist_entries
      x-box-tag: collaboration_allowlist_entries
      description: A list of allowed domains for collaboration.
      allOf:
        - type: object
          description: |-
            The part of an API response that describes marker
            based pagination
          properties:
            limit:
              description: >-
                The limit that was used for these entries. This will be the same
                as the

                `limit` query parameter unless that value exceeded the maximum
                value

                allowed. The maximum value varies by API.
              example: 1000
              type: integer
              format: int64
            next_marker:
              description: The marker for the start of the next page of results.
              example: 3000
              type: integer
              format: int64
            prev_marker:
              description: The marker for the start of the previous page of results.
              example: 1000
              type: integer
              format: int64
        - properties:
            entries:
              type: array
              items:
                $ref: '#/components/schemas/CollaborationAllowlistEntry'
    CollaborationAllowlistExemptTarget:
      title: Allowed collaboration domains user exemption
      type: object
      x-box-resource-id: collaboration_allowlist_exempt_target
      x-box-tag: collaboration_allowlist_exempt_targets
      description: >-
        The user that is exempt from any of the restrictions

        imposed by the list of allowed collaboration domains for this
        enterprise.
      properties:
        id:
          type: string
          description: The unique identifier for this exemption
          example: '11446498'
        type:
          type: string
          description: '`collaboration_whitelist`'
          example: collaboration_whitelist
          enum:
            - collaboration_whitelist
        enterprise:
          allOf:
            - title: Enterprise
              type: object
              description: A representation of a Box enterprise
              properties:
                id:
                  type: string
                  description: The unique identifier for this enterprise.
                  example: '11446498'
                type:
                  type: string
                  description: '`enterprise`'
                  example: enterprise
                  enum:
                    - enterprise
                name:
                  description: The name of the enterprise
                  example: Acme Inc.
                  type: string
            - description: The enterprise this entry belongs to
        user:
          allOf:
            - title: Enterprise
              type: object
              description: A representation of a Box enterprise
              properties:
                id:
                  type: string
                  description: The unique identifier for this enterprise.
                  example: '11446498'
                type:
                  type: string
                  description: '`enterprise`'
                  example: enterprise
                  enum:
                    - enterprise
                name:
                  description: The name of the enterprise
                  example: Acme Inc.
                  type: string
            - description: The user that has been exempt
        created_at:
          type: string
          format: date-time
          description: The time the entry was created
          example: '2012-12-12T10:53:43-08:00'
        modified_at:
          type: string
          format: date-time
          description: The time the entry was modified
          example: '2012-12-12T10:53:43-08:00'
    CollaborationAllowlistExemptTargets:
      title: Allowed collaboration domains user exemptions
      type: object
      x-box-resource-id: collaboration_allowlist_exempt_targets
      x-box-tag: collaboration_allowlist_exempt_targets
      description: >-
        A list of users that is exempt from any of the restrictions

        imposed by the list of allowed collaboration domains for this
        enterprise.
      allOf:
        - type: object
          description: |-
            The part of an API response that describes marker
            based pagination
          properties:
            limit:
              description: >-
                The limit that was used for these entries. This will be the same
                as the

                `limit` query parameter unless that value exceeded the maximum
                value

                allowed. The maximum value varies by API.
              example: 1000
              type: integer
              format: int64
            next_marker:
              description: The marker for the start of the next page of results.
              example: 3000
              type: integer
              format: int64
            prev_marker:
              description: The marker for the start of the previous page of results.
              example: 1000
              type: integer
              format: int64
        - properties:
            entries:
              type: array
              items:
                $ref: '#/components/schemas/CollaborationAllowlistExemptTarget'
    Collection:
      title: Collection
      type: object
      x-box-resource-id: collection
      x-box-tag: collections
      description: |-
        A collection of items, including files and folders.

        Currently, the only collection available
        is the `favorites` collection.

        The contents of a collection can be explored in a
        similar way to which the contents of a folder is
        explored.
      properties:
        id:
          type: string
          description: The unique identifier for this collection.
          example: '11446498'
        type:
          type: string
          description: '`collection`'
          example: collection
          enum:
            - collection
        name:
          type: string
          description: The name of the collection.
          enum:
            - Favorites
          example: Favorites
        collection_type:
          type: string
          description: |-
            The type of the collection. This is used to
            determine the proper visual treatment for
            collections.
          enum:
            - favorites
          example: favorites
    Collections:
      title: Collections
      type: object
      x-box-resource-id: collections
      x-box-tag: collections
      description: A list of collections
      allOf:
        - type: object
          description: The part of an API response that describes pagination
          properties:
            total_count:
              description: >-
                One greater than the offset of the last entry in the entire
                collection.

                The total number of entries in the collection may be less than

                `total_count`.


                This field is only returned for calls that use offset-based
                pagination.

                For marker-based paginated APIs, this field will be omitted.
              example: 5000
              type: integer
              format: int64
            limit:
              description: >-
                The limit that was used for these entries. This will be the same
                as the

                `limit` query parameter unless that value exceeded the maximum
                value

                allowed. The maximum value varies by API.
              example: 1000
              type: integer
              format: int64
            offset:
              description: >-
                The 0-based offset of the first entry in this set. This will be
                the same

                as the `offset` query parameter.


                This field is only returned for calls that use offset-based
                pagination.

                For marker-based paginated APIs, this field will be omitted.
              example: 2000
              type: integer
              format: int64
            order:
              description: >-
                The order by which items are returned.


                This field is only returned for calls that use offset-based
                pagination.

                For marker-based paginated APIs, this field will be omitted.
              type: array
              items:
                type: object
                description: The order in which a pagination is ordered
                properties:
                  by:
                    description: The field to order by
                    example: type
                    type: string
                  direction:
                    type: string
                    description: The direction to order by, either ascending or descending
                    example: ASC
                    enum:
                      - ASC
                      - DESC
        - properties:
            entries:
              type: array
              items:
                $ref: '#/components/schemas/Collection'
    Comment:
      title: Comment
      type: object
      description: Standard representation of a comment.
      x-box-resource-id: comment
      x-box-variant: standard
      allOf:
        - $ref: '#/components/schemas/Comment--Base'
        - properties:
            is_reply_comment:
              type: boolean
              description: |-
                Whether or not this comment is a reply to another
                comment
              example: true
            message:
              type: string
              example: '@Aaron Levie these tigers are cool!'
              description: The text of the comment, as provided by the user
            created_by:
              allOf:
                - $ref: '#/components/schemas/User--Mini'
                - description: |-
                    A mini user object representing the author of the
                    comment
            created_at:
              type: string
              format: date-time
              description: The time this comment was created
              example: '2012-12-12T10:53:43-08:00'
            modified_at:
              type: string
              format: date-time
              description: The time this comment was last modified
              example: '2012-12-12T10:53:43-08:00'
            item:
              allOf:
                - title: Reference
                  description: The bare basic reference for an object
                  type: object
                  properties:
                    id:
                      type: string
                      description: The unique identifier for this object
                      example: '11446498'
                    type:
                      type: string
                      description: The type for this object
                      example: file
                - description: The file this comment was placed on
    Comments:
      title: Comments
      type: object
      x-box-resource-id: comments
      x-box-tag: comments
      description: A list of comments
      allOf:
        - type: object
          description: The part of an API response that describes pagination
          properties:
            total_count:
              description: >-
                One greater than the offset of the last entry in the entire
                collection.

                The total number of entries in the collection may be less than

                `total_count`.


                This field is only returned for calls that use offset-based
                pagination.

                For marker-based paginated APIs, this field will be omitted.
              example: 5000
              type: integer
              format: int64
            limit:
              description: >-
                The limit that was used for these entries. This will be the same
                as the

                `limit` query parameter unless that value exceeded the maximum
                value

                allowed. The maximum value varies by API.
              example: 1000
              type: integer
              format: int64
            offset:
              description: >-
                The 0-based offset of the first entry in this set. This will be
                the same

                as the `offset` query parameter.


                This field is only returned for calls that use offset-based
                pagination.

                For marker-based paginated APIs, this field will be omitted.
              example: 2000
              type: integer
              format: int64
            order:
              description: >-
                The order by which items are returned.


                This field is only returned for calls that use offset-based
                pagination.

                For marker-based paginated APIs, this field will be omitted.
              type: array
              items:
                type: object
                description: The order in which a pagination is ordered
                properties:
                  by:
                    description: The field to order by
                    example: type
                    type: string
                  direction:
                    type: string
                    description: The direction to order by, either ascending or descending
                    example: ASC
                    enum:
                      - ASC
                      - DESC
        - properties:
            entries:
              type: array
              items:
                $ref: '#/components/schemas/Comment'
    Comment--Base:
      title: Comment (Base)
      type: object
      x-box-resource-id: comment--base
      x-box-sanitized: true
      x-box-tag: comments
      x-box-variants:
        - base
        - standard
        - full
      x-box-variant: base
      description: Base representation of a comment.
      properties:
        id:
          type: string
          description: The unique identifier for this comment.
          example: '11446498'
        type:
          type: string
          description: '`comment`'
          example: comment
          enum:
            - comment
    Comment--Full:
      title: Comment (Full)
      type: object
      x-box-resource-id: comment--full
      x-box-variant: full
      description: |-
        Comments are messages created on files. Comments
        can be made independently or created as responses to other
        comments
      allOf:
        - $ref: '#/components/schemas/Comment'
        - properties:
            tagged_message:
              type: string
              example: '@[1234567:Aaron Levie] these tigers are cool!'
              description: |-
                The string representing the comment text with
                @mentions included. @mention format is @[id:username]
                where `id` is user's Box ID and `username` is
                their display name.
    DevicePinner:
      title: Device pinner
      type: object
      x-box-resource-id: device_pinner
      x-box-tag: device_pinners
      description: |-
        Device pins allow enterprises to control what devices can
        use native Box applications.
      properties:
        id:
          type: string
          description: The unique identifier for this device pin.
          example: '11446498'
        type:
          type: string
          description: '`device_pinner`'
          example: device_pinner
          enum:
            - device_pinner
        owned_by:
          allOf:
            - $ref: '#/components/schemas/User--Mini'
            - description: The user that the device pin belongs to
        product_name:
          type: string
          description: The type of device being pinned
          example: iPad
    DevicePinners:
      title: Device pinners
      type: object
      x-box-resource-id: device_pinners
      x-box-tag: device_pinners
      description: A list of device pins
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/DevicePinner'
        limit:
          description: >-
            The limit that was used for these entries. This will be the same as
            the

            `limit` query parameter unless that value exceeded the maximum value

            allowed.
          default: 100
          example: 200
          type: integer
          format: int64
        next_marker:
          description: The marker for the start of the next page of results.
          example: 3000
          type: integer
          format: int64
        order:
          description: The order by which items are returned.
          type: array
          items:
            type: object
            description: The order in which a pagination is ordered
            properties:
              by:
                description: The field that is ordered by
                example: id
                enum:
                  - id
                type: string
              direction:
                type: string
                description: The direction to order by, either ascending or descending
                example: asc
                enum:
                  - asc
                  - desc
    EmailAlias:
      title: Email alias
      type: object
      x-box-resource-id: email_alias
      x-box-tag: email_aliases
      description: An email alias for a user.
      properties:
        id:
          type: string
          description: The unique identifier for this object
          example: '11446498'
        type:
          type: string
          description: '`email_alias`'
          example: email_alias
          enum:
            - email_alias
        email:
          type: string
          description: The email address
          example: alias@example.com
        is_confirmed:
          type: boolean
          description: Whether the email address has been confirmed
          example: true
    EmailAliases:
      title: Email aliases
      type: object
      x-box-resource-id: email_aliases
      x-box-tag: email_aliases
      description: A list of email aliases
      properties:
        total_count:
          description: The number of email aliases.
          example: 5000
          type: integer
          format: int64
        entries:
          type: array
          items:
            $ref: '#/components/schemas/EmailAlias'
    Enterprise--Base:
      title: Enterprise (Base)
      type: object
      x-box-resource-id: enterprise--base
      x-box-variants:
        - base
        - mini
        - standard
        - full
      x-box-variant: base
      description: |-
        A mini representation of a enterprise, used when
        nested within another resource.
      properties:
        id:
          type: string
          description: The unique identifier for this enterprise
          example: '1910967'
        type:
          type: string
          description: '`enterprise`'
          example: enterprise
          nullable: false
          enum:
            - enterprise
    Event:
      title: Event
      type: object
      x-box-resource-id: event
      x-box-tag: events
      description: The description of an event that happened within Box
      properties:
        type:
          description: '`event`'
          type: string
          example: event
        created_at:
          type: string
          format: date-time
          description: When the event object was created
          example: '2022-12-12T10:53:43-08:00'
        recorded_at:
          type: string
          format: date-time
          description: When the event object was recorded in database
          example: '2022-12-12T10:54:43-08:00'
        event_id:
          type: string
          example: f82c3ba03e41f7e8a7608363cc6c0390183c3f83
          description: >-
            The ID of the event object. You can use this to detect duplicate
            events
        created_by:
          allOf:
            - $ref: '#/components/schemas/User--Mini'
            - description: >-
                The user that performed the action represented by the event.

                Some events may be performed by users not logged into Box.

                In that case, not all attributes of the object are populated and
                the

                event is attributed to a unknown user (`user_id = 2`)
        event_type:
          allOf:
            - title: Event Type
              example: FILE_MARKED_MALICIOUS
              type: string
              description: An event type that can trigger an event
              enum:
                - ACCESS_GRANTED
                - ACCESS_REVOKED
                - ADD_DEVICE_ASSOCIATION
                - ADD_LOGIN_ACTIVITY_DEVICE
                - ADMIN_LOGIN
                - APPLICATION_CREATED
                - APPLICATION_PUBLIC_KEY_ADDED
                - APPLICATION_PUBLIC_KEY_DELETED
                - CHANGE_ADMIN_ROLE
                - CHANGE_FOLDER_PERMISSION
                - COLLABORATION_ACCEPT
                - COLLABORATION_EXPIRATION
                - COLLABORATION_INVITE
                - COLLABORATION_REMOVE
                - COLLABORATION_ROLE_CHANGE
                - COLLAB_ADD_COLLABORATOR
                - COLLAB_INVITE_COLLABORATOR
                - COLLAB_REMOVE_COLLABORATOR
                - COLLAB_ROLE_CHANGE
                - COMMENT_CREATE
                - COMMENT_DELETE
                - CONTENT_ACCESS
                - CONTENT_WORKFLOW_ABNORMAL_DOWNLOAD_ACTIVITY
                - CONTENT_WORKFLOW_AUTOMATION_ADD
                - CONTENT_WORKFLOW_AUTOMATION_DELETE
                - CONTENT_WORKFLOW_POLICY_ADD
                - CONTENT_WORKFLOW_SHARING_POLICY_VIOLATION
                - CONTENT_WORKFLOW_UPLOAD_POLICY_VIOLATION
                - COPY
                - DATA_RETENTION_CREATE_RETENTION
                - DATA_RETENTION_REMOVE_RETENTION
                - DELETE
                - DELETE_USER
                - DEVICE_TRUST_CHECK_FAILED
                - DOWNLOAD
                - EDIT
                - EDIT_USER
                - EMAIL_ALIAS_CONFIRM
                - EMAIL_ALIAS_REMOVE
                - ENABLE_TWO_FACTOR_AUTH
                - ENTERPRISE_APP_AUTHORIZATION_UPDATE
                - FAILED_LOGIN
                - FILE_MARKED_MALICIOUS
                - FILE_WATERMARKED_DOWNLOAD
                - GROUP_ADD_ITEM
                - GROUP_ADD_USER
                - GROUP_CREATION
                - GROUP_DELETION
                - GROUP_EDITED
                - GROUP_REMOVE_ITEM
                - GROUP_REMOVE_USER
                - ITEM_COPY
                - ITEM_CREATE
                - ITEM_DOWNLOAD
                - ITEM_MAKE_CURRENT_VERSION
                - ITEM_MODIFY
                - ITEM_MOVE
                - ITEM_OPEN
                - ITEM_PREVIEW
                - ITEM_RENAME
                - ITEM_SHARED
                - ITEM_SHARED_CREATE
                - ITEM_SHARED_UNSHARE
                - ITEM_SHARED_UPDATE
                - ITEM_SYNC
                - ITEM_TRASH
                - ITEM_UNDELETE_VIA_TRASH
                - ITEM_UNSYNC
                - ITEM_UPLOAD
                - LEGAL_HOLD_ASSIGNMENT_CREATE
                - LEGAL_HOLD_ASSIGNMENT_DELETE
                - LEGAL_HOLD_POLICY_CREATE
                - LEGAL_HOLD_POLICY_DELETE
                - LEGAL_HOLD_POLICY_UPDATE
                - LOCK
                - LOCK_CREATE
                - LOCK_DESTROY
                - LOGIN
                - MASTER_INVITE_ACCEPT
                - MASTER_INVITE_REJECT
                - METADATA_INSTANCE_CREATE
                - METADATA_INSTANCE_DELETE
                - METADATA_INSTANCE_UPDATE
                - METADATA_TEMPLATE_CREATE
                - METADATA_TEMPLATE_DELETE
                - METADATA_TEMPLATE_UPDATE
                - MOVE
                - NEW_USER
                - PREVIEW
                - REMOVE_DEVICE_ASSOCIATION
                - REMOVE_LOGIN_ACTIVITY_DEVICE
                - RENAME
                - RETENTION_POLICY_ASSIGNMENT_ADD
                - SHARE
                - SHARE_EXPIRATION
                - SHIELD_ALERT
                - SHIELD_EXTERNAL_COLLAB_ACCESS_BLOCKED
                - SHIELD_EXTERNAL_COLLAB_ACCESS_BLOCKED_MISSING_JUSTIFICATION
                - SHIELD_EXTERNAL_COLLAB_INVITE_BLOCKED
                - SHIELD_EXTERNAL_COLLAB_INVITE_BLOCKED_MISSING_JUSTIFICATION
                - SHIELD_JUSTIFICATION_APPROVAL
                - SIGN_DOCUMENT_ASSIGNED
                - SIGN_DOCUMENT_CANCELLED
                - SIGN_DOCUMENT_COMPLETED
                - SIGN_DOCUMENT_CONVERTED
                - SIGN_DOCUMENT_CREATED
                - SIGN_DOCUMENT_DECLINED
                - SIGN_DOCUMENT_EXPIRED
                - SIGN_DOCUMENT_SIGNED
                - SIGN_DOCUMENT_VIEWED_BY_SIGNED
                - SIGNER_DOWNLOADED
                - SIGNER_FORWARDED
                - STORAGE_EXPIRATION
                - TAG_ITEM_CREATE
                - TASK_ASSIGNMENT_CREATE
                - TASK_ASSIGNMENT_DELETE
                - TASK_ASSIGNMENT_UPDATE
                - TASK_CREATE
                - TASK_UPDATE
                - TERMS_OF_SERVICE_ACCEPT
                - TERMS_OF_SERVICE_REJECT
                - UNDELETE
                - UNLOCK
                - UNSHARE
                - UPDATE_COLLABORATION_EXPIRATION
                - UPDATE_SHARE_EXPIRATION
                - UPLOAD
                - USER_AUTHENTICATE_OAUTH2_ACCESS_TOKEN_CREATE
                - WATERMARK_LABEL_CREATE
                - WATERMARK_LABEL_DELETE
            - description: The event type that triggered this event
        session_id:
          type: string
          example: 70090280850c8d2a1933c1
          description: >-
            The session of the user that performed the action. Not all events
            will

            populate this attribute.
        source:
          allOf:
            - oneOf:
                - $ref: '#/components/schemas/User'
                - $ref: '#/components/schemas/EventSource'
                - $ref: '#/components/schemas/File'
                - $ref: '#/components/schemas/Folder'
            - description: |-
                The resource that triggered this event. For more information,
                check out the guide on event triggers.
        additional_details:
          type: object
          example:
            key: value
          description: >-
            This object provides additional information about the event if
            available.


            This can include how a user performed an event as well as additional

            information to correlate an event to external KeySafe logs. Not all
            events

            have an `additional_details` object.  This object is only available
            in the

            Enterprise Events.
    Events:
      title: Events
      type: object
      x-box-resource-id: events
      x-box-tag: events
      description: A list of event objects
      properties:
        chunk_size:
          description: The number of events returned in this response.
          example: 2
          type: integer
          format: int64
        next_stream_position:
          description: |-
            The stream position of the start of the next page (chunk)
            of events.
          example: '1152922976252290886'
          type: string
        entries:
          type: array
          items:
            $ref: '#/components/schemas/Event'
    File:
      title: File
      type: object
      x-box-resource-id: file
      x-box-variant: standard
      description: |-
        A standard representation of a file, as returned from any
        file API endpoints by default
      required:
        - description
        - size
        - path_collection
        - created_at
        - modified_at
        - modified_by
        - owned_by
        - item_status
      allOf:
        - $ref: '#/components/schemas/File--Mini'
        - properties:
            description:
              type: string
              nullable: false
              description: The optional description of this file
              maxLength: 256
              example: Contract for Q1 renewal
            size:
              type: integer
              nullable: false
              description: >-
                The file size in bytes. Be careful parsing this integer as it
                can

                get very large and cause an integer overflow.
              example: 629644
            path_collection:
              allOf:
                - title: Path collection
                  description: A list of parent folders for an item.
                  type: object
                  required:
                    - total_count
                    - entries
                  properties:
                    total_count:
                      description: The number of folders in this list.
                      example: 1
                      type: integer
                      format: int64
                      nullable: false
                    entries:
                      type: array
                      description: The parent folders for this item
                      nullable: false
                      items:
                        $ref: '#/components/schemas/Folder--Mini'
                - description: |-
                    The tree of folders that this file is contained in,
                    starting at the root.
                - nullable: false
            created_at:
              type: string
              format: date-time
              nullable: false
              description: The date and time when the file was created on Box.
              example: '2012-12-12T10:53:43-08:00'
            modified_at:
              type: string
              format: date-time
              nullable: false
              description: The date and time when the file was last updated on Box.
              example: '2012-12-12T10:53:43-08:00'
            trashed_at:
              type: string
              format: date-time
              description: The time at which this file was put in the trash.
              example: '2012-12-12T10:53:43-08:00'
              nullable: true
            purged_at:
              type: string
              format: date-time
              description: |-
                The time at which this file is expected to be purged
                from the trash.
              example: '2012-12-12T10:53:43-08:00'
              nullable: true
            content_created_at:
              type: string
              format: date-time
              nullable: true
              description: |-
                The date and time at which this file was originally
                created, which might be before it was uploaded to Box.
              example: '2012-12-12T10:53:43-08:00'
            content_modified_at:
              type: string
              format: date-time
              nullable: true
              description: |-
                The date and time at which this file was last updated,
                which might be before it was uploaded to Box.
              example: '2012-12-12T10:53:43-08:00'
            created_by:
              allOf:
                - $ref: '#/components/schemas/User--Mini'
                - description: The user who created this file
            modified_by:
              allOf:
                - $ref: '#/components/schemas/User--Mini'
                - description: The user who last modified this file
                - nullable: false
            owned_by:
              allOf:
                - $ref: '#/components/schemas/User--Mini'
                - description: The user who owns this file
                - nullable: false
            shared_link:
              allOf:
                - title: Shared link
                  description: >-
                    Shared links provide direct, read-only access to files or
                    folder on Box.


                    Shared links with open access level allow anyone with the
                    URL

                    to access the item, while shared links with company or
                    collaborators access

                    levels can only be accessed by appropriately authenticated
                    Box users.
                  type: object
                  required:
                    - url
                    - accessed
                    - effective_access
                    - effective_permission
                    - is_password_enabled
                    - download_count
                    - preview_count
                  properties:
                    url:
                      type: string
                      format: url
                      description: >-
                        The URL that can be used to access the item on Box.


                        This URL will display the item in Box's preview UI where
                        the file

                        can be downloaded if allowed.


                        This URL will continue to work even when a custom
                        `vanity_url`

                        has been set for this shared link.
                      example: https://www.box.com/s/vspke7y05sb214wjokpk
                      nullable: false
                    download_url:
                      type: string
                      format: url
                      x-box-premium-feature: true
                      description: >-
                        A URL that can be used to download the file. This URL
                        can be used in

                        a browser to download the file. This URL includes the
                        file

                        extension so that the file will be saved with the right
                        file type.


                        This property will be `null` for folders.
                      example: >-
                        https://www.box.com/shared/static/rh935iit6ewrmw0unyul.jpeg
                      nullable: true
                    vanity_url:
                      type: string
                      format: url
                      description: >-
                        The "Custom URL" that can also be used to preview the
                        item on Box.  Custom

                        URLs can only be created or modified in the Box Web
                        application.
                      example: https://acme.app.box.com/v/my_url/
                      nullable: true
                    vanity_name:
                      type: string
                      description: >-
                        The custom name of a shared link, as used in the
                        `vanity_url` field.
                      example: my_url
                      nullable: true
                    access:
                      type: string
                      description: >-
                        The access level for this shared link.


                        * `open` - provides access to this item to anyone with
                        this link

                        * `company` - only provides access to this item to
                        people the same company

                        * `collaborators` - only provides access to this item to
                        people who are
                           collaborators on this item

                        If this field is omitted when creating the shared link,
                        the access level

                        will be set to the default access level specified by the
                        enterprise admin.
                      enum:
                        - open
                        - company
                        - collaborators
                      example: open
                      nullable: false
                    effective_access:
                      type: string
                      description: >-
                        The effective access level for the shared link. This can
                        be a more

                        restrictive access level than the value in the `access`
                        field when the

                        enterprise settings restrict the allowed access levels.
                      enum:
                        - open
                        - company
                        - collaborators
                      example: company
                      nullable: false
                    effective_permission:
                      type: string
[...]
